body{
	color:#444444;
	font-size:20px;
}

h1{
	font-size:25px;
	font-weight:400;
	margin:20px 0 25px;
	text-align:left;
}

h3{
	font-size:30px;
	margin:0 0 25px;
}

label{
	color:#aeaeae;
	font-size:12px;
}

table{
	margin:20px 0 40px;
}
.table > thead > tr > th{
	text-align:center;
	vertical-align:top;
}
.table > tbody > tr > td{
	color:#aeaeae;
	font-size:17px;
	text-align:center;
	vertical-align:middle;
}

td img{
	height:50px;
}

input[type="checkbox"] {
    margin-right:5px;
}

/*
input[type="radio"], input[type="checkbox"] {
    block-size:20px;
    line-size:20px;
}

.form-control{
    border-color:#636363;
	border-radius:10px;
    font-size:20px;
    height:40px;
	padding-left:25px;
}
*/
.navbar{
	margin-bottom:30px;
}

.btn{
	border-radius:10px;
}


.small-card{
	color:#444444;
	margin:10px 0 15px;
	overflow:hidden;
}
.small-card strong{
	font-size:23px;
	margin:21px 25px 0 0;
	text-align:right;
}
.small-card img{
	border:2px solid #86ca98;
	float:left;
	height:105px;
	margin-right:10px;
	width:105px;
}
.small-card .form-label-1{
	color:#444444;
	font-size:14px;
	font-weight:400;
	line-height:20px;
}
.small-card .form-label-2{
	color:#71c386;
	font-size:20px;
	font-weight:700;
	line-height:20px;
}
.irs{height:20px;}
.irs-slider{top:0;}
.irs-bar-edge, .irs-bar, .irs-line{top:8px;}

.label-success{
	background-color:#71c386;
}


.irs-single, .irs-max, .irs-min{
	display:none;
}


footer{
	margin-top:45px;
}