.countdown {margin:0;text-align:center;}
.countdown li {
    background: url("../img/countdown.png") repeat scroll 0 0 rgba(0, 0, 0, 0);
    color: #FFFFFF;
    display: inline-block;
    height: 59px;
    margin-bottom: 10px;
    margin-right: 20px;
    padding: 0 !important;
    position: relative;
    width: 84px;
}
.countdown li:after {
    background: url("../img/dots.png") repeat scroll 0 0 rgba(0, 0, 0, 0);
    content: "";
    height: 24px;
    margin-top: -12px;
    position: absolute;
    right: -15px;
    top: 50%;
    width: 4px;
}
.countdown li:last-of-type {
    margin-right: 0;
}
.countdown li:last-of-type:after {
    display: none;
}
.countdown li span {
    color: #FFFFFF !important;
    font-family: Arial,san-serif;
    font-size: 40px;
    left: 9px;
    letter-spacing: 21px;
    line-height: 59px;
    position: relative;
}
.countdown li p{color:#000000;}